/*/////////////////////////////////////////////////////////////////////
 // 
 // Custom theme code styles
 // Written by Themelize.me (http://themelize.me)
 // 
 // This is an empty starter template for overriding styles
 // set by Bootstrap & the theme
 // 
 // ----------------------------------------------------
 // 
 // Remove unused code for better performances
 // 
 // ----------------------------------------------------
 // 
 // @see - Usefuls tools online for editing
 // 1. http://charliepark.org/bootstrap_buttons/ - Button style generator
 // 2. http://www.colorzilla.com/gradient-editor/ - CSS3 gradient maker
 // 
 // @note
 // To ensure custom styles are picked up
 // wrap definitions in body tag
 // ie.
 // body .navbar-inner {
 //	 background: #ff0000;
 // }
 // 
 /////////////////////////////////////////////////////////////////////*/
/*
 * --------------------------------------------------
 * 1. General Elements
 *--------------------------------------------------
 */
.h6 {
	font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
} 
#navigation {
	/* 1. Navigation wrapper */
}
.navbar-nav > li > a:hover,
#main-menu > li > a:hover,
.navbar-nav > li.active a,
#main-menu > li.active a {
	background-color: #FFFFFF;
	color: #4081b2;
}
.navbar-nav > li.open .dropdown-toggle, 
#main-menu > li.open .dropdown-toggle, 
.navbar-nav > li.open.active .dropdown-toggle, 
#main-menu > li.open.active .dropdown-toggle {
	background-color: #FFFFFF;
	color: #4081b2;
}
#highlighted {
	/* 2. Highlighted (below header) wrapper */
	margin-top: 20px;
}
.slide .slide-splash {
	text-align: center;
}
.page-highlighted{
	padding-top: 2px !important;
}
.bounce-data{
	background-color: rgba(130,130,130, 0.5);
	border-radius: 25px;
}
.bounce-data p{
	font-size: 16px;
	font-weight: bold !important;
}
.slide .slide-splash h1,
.slide .slide-splash h2,
.slide .slide-splash h3,
.slide .slide-splash h4,
.slide .slide-splash h5,
.slide .slide-splash p {
	margin-top: 0;
	font-weight: normal;
	color: #FFFFFF;
	background: none;
}
.slide .slide-splash h2{
	font-size: 36px;
}
.slide .slide-splash h4{
	font-size: 24px;
}
.slide .slide-splash .btn {
	margin: 0;
}
.slide .slide-splash .inverse {
	background: #1b1b1b;
	color: #ffffff;
	padding: 5px;
	display: inline-block;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
.slide .slide-splash .inverse a {
	color: rgba(255, 255, 255, 0.9);
}
#flexslidernarrow .slides li{
	border-right: 1px solid;
	height: 201px;
}
#flexslidernarrow .slides img {
	width: 100%;
	vertical-align: middle;
	display: inline-block;
}
.middleHelper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
#content {
	/* 3. Content wrapper */
}
#content-below {
	/* 4. Content Below wrapper */
}
.product-buttons{
	display: block;
	font-weight: bold;
}
#googlemaps-container-top {
	position: relative;
	z-index: 2;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25) inset;
	height: 20px;
}
#googlemaps {
	position: relative;
	z-index: 1;
	height: 400px;
	width: 100%;
	top: -20px;
}
#googlemaps-container-bottom {
	position: relative;
	z-index: 2;
	box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.25) inset;
	height: 20px;
	margin-top: -40px;
	border-bottom: 5px solid #F6F6F6;
	margin-bottom: 20px;
}
.footer-link{
	font-weight:bold;
}
.footer-link:hover{
	font-weight:bold;
	text-decoration: none;
}
.footer-nav > li > a:link,
.footer-nav > li > a:hover{
	background: none repeat scroll 0% 0% transparent;
	padding-top: 0px;
}
#footer a {
	color: #CCCCCC;
}
#footer a:hover{
	color: #4081b2;
}
.footer-item{
	display: none;
	position: absolute;
	top: -100px;
	width: 150px;
	background-color: #828282;
	padding: 10px;
	list-style: none outside none;
}
.footer-item a:hover{
	text-decoration: none;
}
#footer {
	/* 5. Footer wrapper */
}
/*
 * --------------------------------------------------
 * 2. Colours
 *-------------------------------------------------- 
 */
/*
 * --------------------------------------------------
 * 3. Responsiveness/media queries
 *--------------------------------------------------
 */
@media (min-width: 992px) {
	
}
@media (min-width: 768px) and (max-width: 991px) {
	
}
/*
 * --------------------------------------------------
 * 4. Misc
 * Other stuff
 *--------------------------------------------------
 */
 
#searchBigButton,
#buildBigButton,
.frontAd,
.frontDecoration,
.frontLids,
.frontContainers {
	max-width: 100%;
}
a.homeHover {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	bottom: 0;
	padding: 20px 0 10px 15px;
	color: #FFF;
	text-decoration: none;
	font-size: 72px;
	line-height: 1.05;
	background: rgba(130, 130, 130, 0.52);
	text-shadow: 1px 5px 18px rgba(0,0,0,0.45);
	font-family: Impact,Charcoal,sans-serif;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
}
a.homeHover:empty {
	background: transparent;
}
a.homeHover:hover {
	opacity: 1;
}
a.homeHover > span {
	position: absolute;
	left: 5px;
	bottom: 0px;
	right: 0px;
	color: #4081B2;
}
a.homeHover > span:after {
	content: '';
	display: inline-block;
	width: 33px;
	height: 42px;
	margin-left: 15px;
}
a.homeHover img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	position: relative;
}